*
{
    font-family: 'Chewy', cursive;
}

/*.firstPage 
{
    background-color: #8cbe5f;
    text-align: center;
}
*/
.card
{
    margin-top: 3em;
    align: center;
    font-family: 'Chewy', cursive;

}
li
{
    list-style-type: none;
    text-align: center;
}
#nameUser /*Style für das Inputfeld beim LogIn*/
{
    padding: 8px;
    border-radius: 5px;
    background-color: #486e88;;
    width: 60%;
    margin: auto;
}
#listUser /*Bestätigungsbutton vom LogInFenster*/
{
    margin: 10px;
}
.b1 /*Button für die Auswhl von Music oder Classic */
{
    text-align: middle;
    width: 90%;
    height: 25vh;
}
.NoHover, .bluecolor, .NoHover:hover /*Klassen, die diese Farbe vom Button brauchen*/
{
    background-color: #486e88;;
}

.bluecolorDiffEasy /*Zeile 47 - 62 sind fpr die Farben der Schwierigkeitsgrad Buttons und die Hover Farbe */ 
{
    background-color: darkolivegreen;   
}
.bluecolorDiffNormal
{
    background-color: darkorange;
}
.bluecolorDiffHard
{
    background-color: darkred;
}
.bluecolorDiffHard:hover, .bluecolor:hover, .bluecolorDiffNormal:hover, .bluecolorDiffEasy:hover
{
    background-color: darkblue;
}

/*Zum verstecken der Container am Anfang */
#menue, #difficulty, #tableScore, #classicGame, #musicGame, #help{
    display: none;
}
#scorerboard
{
    position: relative;
    margin-left: 0%;
    margin: 5px;
}
#exit
{
    margin: 5px;
}
#vertical
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#all
{
    text-align: center;
}
body, a
{
    background-color: #8cbe5f;
}
input
{
    width: 30em;
    margin-bottom: 10px;
}
#getReady
{
    width: 80%;
    padding: auto;
    font-size: 10vh;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#getName
{
    font-size: 5vh;
    color: white;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
/*Am Anfang war geplant mit MDL Cards zu arbiten
/* .demo-card-wide.mdl-card {
width: 50%;
margin: auto;
}
.demo-card-wide > .mdl-card__title {
color: #fff;
height: 176px; 
}
.demo-card-wide > .mdl-card__menu {
color: #fff;
}
.mdl-card__title-text
{
    color: green;
}
.mdl-card__actions
{
    background-color: #8cbe5f;
    color: white;
}*/
.mdl-button
{
    color: white;
    font-family: 'Chewy', cursive;
    font-size: 30px;
}
.class
{
    margin-right: 60%;
}
.mdl-card
{
    text-align: center;
}
.mdl-textfield__input
{
    font-family: 'Chewy', cursive;
    color: white;
    font-size: 1.9em;
    
}
.demo-list-icon {
  width: 300px;
}
.tableScore
{
    margin-top: 1em;
    background-color: #486e88;;
    border-radius: 15px;
}
input::-webkit-input-placeholder {
color: white !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
input:-ms-input-placeholder {  
color: white !important;  
}
header
{
    margin-top: 1em;
    font-size: 250%;
}
#easy, #normal, #hard
{
    position: relative;
    margin-left: 0%;
    margin: 5px;
}
.pad
{
    color: white;
    /*padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 10%;
    padding-right: 10%;*/
    border-radius: 4px;
    font-size: 1.5em;
    
}
table
{
    width: 50%;
    margin: auto;
}
.left
{
    margin-bottom: 0.5em;
    color: white;
}
.name
{
    margin-top: 0.5em;
    color: white;
    font-size: 2em;
}
.fullSize
{
    width: 90%;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#changeColor
{
    margin-top: 30px;
    background: #486e88;
}
#helpButton
{
    background-color: darkblue;
    position: absolute;
    right: 2%;
    bottom: 2%;
}
#ClassicHelp, #MusicHelp
{
    color: white;
    font-size: 25px;
}
#helpButton
{
    border-radius: 100px;
}
