*
{
    font-family: 'Chewy', cursive;
}
.card
{
    margin-top: 3em;
    align: center;
    font-family: 'Chewy', cursive;
}
li
{
    list-style-type: none;
    text-align: center;
}
#nameUser /*Style für das Inputfeld beim LogIn*/
{
    padding: 8px;
    border-radius: 5px;
    background-color: #486e88;;
    width: 60%;
    margin: auto;
}
#listUser /*Bestätigungsbutton vom LogInFenster*/
{
    margin: 10px;
}
.b1 /*Button für die Auswhl von Music oder Classic */
{
    text-align: middle;
    width: 90%;
    height: 25vh;
}
.NoHover, .bluecolor, .NoHover:hover /*Klassen, die diese Farbe vom Button brauchen*/
{
    background-color: #486e88;;
}
.bluecolorDiffEasy /*Zeile 47 - 62 sind fpr die Farben der Schwierigkeitsgrad Buttons und die Hover Farbe */ 
{
    background-color: darkolivegreen;   
}
.bluecolorDiffNormal
{
    background-color: darkorange;
}
.bluecolorDiffHard
{
    background-color: darkred;
}
.bluecolorDiffHard:hover, .bluecolor:hover, .bluecolorDiffNormal:hover, .bluecolorDiffEasy:hover
{
    background-color: darkblue;
}
/*Zum verstecken der Container am Anfang */
#menue, #difficulty, #tableScore, #classicGame, #musicGame, #help
{
    display: none;
}
/*Einstellung des Bestätigungsbuttons und Scorerboardbutton*/
#scorerboard
{
    position: relative;
    margin-left: 0%;
    margin: 5px;
}
/*ExitKnopf*/
#exit
{
    margin: 5px;
}
#vertical /*Wenn etwas genau in der Mitte sein soll*/
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#all /*Für html*/
{
    text-align: center;
}
body, a /*Background für body und a*/
{
    background-color: #8cbe5f;
}
input /*inputfelder*/
{
    width: 30em;
    margin-bottom: 10px;
}

#getName /*Die Punkte die während dem Spiel angezeigt werden*/
{
    font-size: 2vh;
    color: white;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
.mdl-button /*Die Buttons von mdl*/
{
    color: white;
    font-family: 'Chewy', cursive;
    font-size: 30px;
}
.mdl-textfield__input
{
    font-family: 'Chewy', cursive;
    color: white;
    font-size: 1.9em; 
}
.demo-list-icon 
{
  width: 300px;
}
/*Grundgerüst von der ScoreTabelle*/
.tableScore
{
    margin-top: 1em;
    background-color: #486e88;;
    border-radius: 15px;
}
/*Damit man die Farbe vom Inputfeld ändern kann*/
input::-webkit-input-placeholder 
{
color: white !important;
}
input:-moz-placeholder 
{ /* Firefox 18- */
color: white !important;  
}
input::-moz-placeholder 
{  /* Firefox 19+ */
color: white !important;  
}
input:-ms-input-placeholder 
{  
color: white !important;  
}
/*der Header*/
header
{
    margin-top: 1em;
    font-size: 250%;
}
/*Die Button easy normal und hard Einstellungen*/
#easy, #normal, #hard
{
    position: relative;
    margin-left: 0%;
    margin: 5px;
}
.pad /*Die Inhalte von der Scoretabelle*/
{
    color: white;
    padding-bottom: 2.7vw;
    padding-top: 8px;
    border-radius: 4px;
<<<<<<< HEAD
    font-size: 1.5em;
=======
    font-size: calc(10px + 2vw);
>>>>>>> 0d89810b37ca164b4ee7d2bfd562c7e5f2e5c22d
}
/*Das table format*/
table
{
    width: 50%;
    margin: auto;
}
.left /*Der Titel vom Scorerboardcontainer*/
{
    margin-bottom: 0.5em;
    color: white;
}
.name /*Der Name der unten im Menü angezeigt wird*/
{
    margin-top: 0.5em;
    color: white;
    font-size: calc(15px + 5vw);
}
.fullSize /*Die Fläche auf die man drauf drücken muss*/
{
    width: 90%;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#changeColor /*Die Fläche auf die man drücken muss braucht eine eigene ID um sie anzusprechen*/
{
    margin-top: 30px;
    background: #486e88;
}
#helpButton /*Der Hilfe Button der bei den Schwierigkeitsgraden unten rechts angezeigt wird*/
{
    background-color: darkblue;
    position: absolute;
    right: 2%;
    bottom: 2%;
    border-radius: 100px;
}
#ClassicHelp, #MusicHelp /*Die Hilfe für Music und Help (Textanpassungen) */
{
    color: white;
    font-size: 25px;
}
