.firstPage
{
    background-color: lightgreen;
    text-align: center;
}
.liste
{
    list-style-type: none;
    text-align: center;
}

#parent
{
    display: table;
    width: 100%;
}
body
{
    background-color: lightgreen;
}
input
{
    margin-bottom: 10px;
}