*
{
    font-family: 'Chewy', cursive;
}
.firstPage
{
    background-color: lightgreen;
    text-align: center;
}
.card
{
    margin-top: 10em;
    align: center;
    font-family: 'Chewy', cursive;

}
li
{
    list-style-type: none;
    text-align: center;
}
#nameUser
{
    padding: 8px;
    border-radius: 5px;
    background-color: lightblue;
    width: 60%;
    margin: auto;
}
#listUser
{
    margin: 10px;
}
.b1
{
    width: 10em;
    height: 10em;
}
.NoHover
{
    background-color: lightblue;
}
.NoHover:hover
{
    background-color: lightblue;
}
.bluecolor
{
    background-color: lightblue;
    
}
.bluecolorDiffEasy
{
    background-color: darkolivegreen;
    
}
.bluecolorDiffEasy:hover
{
    background-color: darkblue;
}
.bluecolorDiffNormal
{
    background-color: darkorange;
    
}
.bluecolorDiffNormal:hover
{
    background-color: darkblue;
}
.bluecolorDiffHard
{
    background-color: darkred;
    
}
.bluecolorDiffHard:hover
{
    background-color: darkblue;
}
.bluecolor:hover
{
    background-color: darkblue;
}
#parent
{
    display: table;
    width: 100%;
}
#menue, #difficulty, #tableScore {
    display: none;
}
#scorerboard
{
    position: relative;
    margin-left: 0%;
    margin: 5px;
}
#exit
{
    margin: 5px;
}
#vertical
{
    position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#all
{
    text-align: center;
}
body
{
    background-color: lightgreen;
}
input
{
    width: 30em;
    margin-bottom: 10px;
}
a
{
    background-color: lightgreen;
}
 .demo-card-wide.mdl-card {
width: 50%;
margin: auto;
}
.demo-card-wide > .mdl-card__title {
color: #fff;
height: 176px; 
}
.demo-card-wide > .mdl-card__menu {
color: #fff;
}
.mdl-card__title-text
{
    color: green;
}
.mdl-card__actions
{
    background-color: lightgreen;
    color: white;
}
.mdl-button
{
    color: white;
    font-family: 'Chewy', cursive;
    font-size: 30px;
}
.class
{
    margin-right: 60%;
}
.mdl-card
{
    text-align: center;
}
.mdl-textfield__input
{
    font-family: 'Chewy', cursive;
    color: white;
    font-size: 1.9em;
    
}
.demo-list-icon {
  width: 300px;
}
.tableScore
{
    height: 70%;
    margin-top: 5em;
    background-color: lightblue;
    border-radius: 15px;
}
input::-webkit-input-placeholder {
color: white !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
input:-ms-input-placeholder {  
color: white !important;  
}
header
{
    margin-top: 1em;
    font-size: 5rem;
}
#easy, #normal, #hard
{
    position: relative;
    margin-left: 0%;
    margin: 5px;
}
.pad
{
    color: white;
    padding: 1.2em;
    border-radius: 4px;
    font-size: 1.5em;
    
}
table
{
    width: 50%;
    margin: auto;
}
.left
{
    position: absolute;
    left: 0%;
    top: 0%;
}