*
{
    font-family: 'Chewy', cursive;
}
.firstPage
{
    background-color: lightgreen;
    text-align: center;
}
.card
{
    margin-top: 10em;
    align: center;
    font-family: 'Chewy', cursive;

}
.liste
{
    list-style-type: none;
    text-align: center;
}
.b1
{
    width: 10em;
    height: 10em;
}
.bluecolor
{
    background-color: lightblue;
    
}
.bluecolor:hover
{
    background-color: darkblue;
}
#parent
{
    display: table;
    width: 100%;
}
#scorerboard
{
    position: relative;
    margin-left: 0%;
    margin: 5px;
}
#exit
{
    margin: 5px;
}
#all
{
    text-align: center;
}
body
{
    background-color: lightgreen;
}
input
{
    width: 30em;
    margin-bottom: 10px;
}
a
{
    background-color: lightgreen;
}
 .demo-card-wide.mdl-card {
width: 50%;
margin: auto;
}
.demo-card-wide > .mdl-card__title {
color: #fff;
height: 176px; 
}
.demo-card-wide > .mdl-card__menu {
color: #fff;
}
.mdl-card__title-text
{
    color: green;
}
.mdl-card__actions
{
    background-color: lightgreen;
    color: white;
}
.mdl-button
{
    color: white;
    font-family: 'Chewy', cursive;
    font-size: 30px;
}
.class
{
    margin-right: 60%;
}
.mdl-card
{
    text-align: center;
}
#menue
{
    display: none;
}